* {
  margin: 0px;
}
.nav-container {
  background-size: cover;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.wave-logo {
  width: 25px;
}
.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo-heading {
  font-family: 'Roboto';
  color: #6d396b;
  margin-left: 10px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}
.menu-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #6d396b;
}
.nav-link {
  text-decoration: none;
  margin: 10px;
  color: #6d396b;
  font-family: 'Roboto';
  font-weight: bold;
}
